@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;900&display=swap');

/* Style for dark mode & neon accent */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
    background: #1a1a1a;
    color: #fff;
}

header {
    background-color: #1a1a1a;
    color: rgb(4, 255, 222);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}